@import '../../../styles/variables.scss';

$darkGrey: #666666;
$mdGrey: #555555;
$greyBlack: #979797;

#toc {
  margin-top: 22rem;
  padding-top: 2rem;
  border-top: $darkGrey 1px solid;

  a {
    text-decoration: none;
  }

  .tile {
    padding-top: 1rem;
    padding: 1rem 2rem 0 !important;
  }

  .number {
    color: $darkGrey;
    font-size: 3rem;
    font-weight: 600;
    line-height: 50px;
    margin: 0.1em 0 0.3em;
  }

  .subtext {
    color: $cuRed;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 18px;
  }

  .subblurb {
    color: $mdGrey;
    font-weight: bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    max-width: 200px;
    line-height: 17px;
  }

  .blurb {
    color: $mdGrey;
    font-size: 0.875rem;
    font-weight: 300;
    font-weight: 300;
    line-height: 16px;
  }
}

@media screen and (min-width: $desktop-xl) {
  .tile:not(:last-child) {
    border-right: #eee 2px solid;
  }
}

@media screen and (max-width: $desktop - 1) {
  #toc {
    margin-top: 30px;
  }
}

@media screen and (max-width: $tablet - 1) {
  #toc {
  }

  #toc {
    margin-bottom: 25px;
  }

}

@media (min-width: $tablet) and (max-width: $desktop-xl - 1) {
  .tile:nth-child(3), .tile:first-child {
    border-right: #eee 2px solid;
  }
}


