@import '../../../styles/variables.scss';

$cuRed: #881E3D;
$darkGrey: #666666;
$mdGrey: #555555;

.story-page {
  max-width: 1140px;
  margin: 0 auto;
  color: #666666;
}

.header--hero {
  padding-top: $margin-50;
  padding-bottom: $margin-75;
  border-bottom: $darkGrey 1px solid;

}

.header__contextStatement {
  color: $mdGrey;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.header__introSentence {
  color: $darkGrey;
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
  margin: 0;
  margin-bottom: $margin-25;
}

.header--red {
  color: $cuRed;
  font-weight: 900;
}

.header__title {
  color: $darkGrey;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: $margin-25;
}

@media (min-width: $desktop) {

}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .story-page {
    max-width: 768px;
  }

  .header__title {
    text-align: left;
  }
}

@media (max-width: $tablet - 1) {
  .story-page {
    margin: 0 auto;
  }

  .header__title {
    text-align: left;
  }
}