@import '../../../styles/index.scss';

$darkGrey: #666666;
$mdGrey: #555555;

h2 {
  margin: 0;
}

.story-page {
  max-width: 720px;
  margin: 50px auto 75px;
}

.header--hero {
  padding-bottom: $margin-30;
  border-bottom: $darkGrey 1px solid;
  > * {
    text-align: center;
  }
}

.header__contextStatement {
  color: $mdGrey;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 0;
}

.header__introSentence {
  color: $darkGrey;
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
  margin: 0;
  margin-bottom: 25px;
}

.header--red {
  color: $cuRed;
  font-weight: 900;
}

.header__title {
  color: $darkGrey;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: $margin-25;
  margin-top: $margin-50;
}

@media screen and (min-width: $desktop-xl) {
  .header--hero {
    padding-bottom: $margin-75;
  }

  .story-page {
    max-width: 1140px;
  }
}

@media (max-width: $tablet - 1) {
  .story-page {
    margin: 50px 16px;
  }
}

@media (max-width: $phone - 1) {
  .header__title, .header__introSentence, .header__contextStatement {
    text-align: left;
  }

  .header--hero {
    padding-bottom: $margin-25;
  }

  .header__title {
    margin-top: $margin-30;
  }
  .story-page {
    max-width: none;
  }
}
