.official-banner {
    display: flex;
    position: relative;
    box-sizing: border-box;
    z-index: 99;
    letter-spacing: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    padding: 6px 15px;
    background-color: #002A43;
    justify-content: space-between;
    align-items: center;
}

.site-list {
  flex: 1 1 auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

a.site-link {
  display: block;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
  text-decoration: none;
}

.item-spacer {
  flex: 0 0 auto;
  margin: 0 15px 0 10px;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 400;
}

.site-item {
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0;
}

.text {
    flex: 0 0 auto;
    margin-right: 10px;
    font-size: 0.625rem;
    line-height: 13px;
    color: #ffffff;
}

.flag {
    flex: 0 0 auto;
    width: 16px;
    height: 11px;
}

// need media queries here for mobile..
@import './official-banner-mobile.module.scss';// todo extra..
