.official-banner {
    display: flex;
    position: relative;
    box-sizing: border-box;
    z-index: 99;
    letter-spacing: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    padding: 6px 15px;
    background-color: #002A43;
    justify-content: space-between;
    align-items: center;
}

.official-banner .official-banner__site-list {
    flex: 1 1 auto;
}

.official-banner .official-banner__site-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.official-banner .official-banner__site-link {
    display: block;
    color: #ffffff;
    font-size: 0.8125rem;
    font-weight: 400;
    text-decoration: none;
}

.official-banner .official-banner__site-item.official-banner__site-item_spacer {
    flex: 0 0 auto;
    margin: 0 15px 0 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.official-banner .official-banner__site-item {
    flex: 0 0 100px;
}

.official-banner .official-banner__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0;
}

.official-banner .official-banner__text {
    flex: 0 0 auto;
    margin-right: 10px;
    font-size: 0.625rem;
    line-height: 13px;
    color: #ffffff;
}

.official-banner .official-banner__flag {
    flex: 0 0 auto;
    width: 16px;
    height: 11px;
}

// need media queries here for mobile..
@import './official-banner-mobile.scss' // todo extra..