// jrK
// mobile styling for header and header banner (blue bar)

@media screen and (max-width: 1043px) {
  ul.nav {
    flex-wrap: nowrap;
//    padding-right: 0px;
  }
}

@media screen and (max-width: 898px) {
  ul.nav {
    flex-wrap: wrap;
//    padding-right: 0px;
  }
}

@media screen and (max-width: 937px) {
  ul.nav {
    flex-wrap: nowrap;
///    padding-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  ul.nav {
    flex-wrap: nowrap;
//    padding-right: 0px;
  }
}

@media (max-width: 1280px) {
  .logo-div {
    position: static;
  }
}

@media (max-width: 450px) {
  .header-logo-img {
    width: 200px;
  }
}

@media (max-width: 515px) {
  margin-top: 6px;
  font-size: 20px;
}

// "super mobile" - where logo shrinks
@media (max-width: 450px) {
  
  .official-banner {
    box-sizing: border-box;
    height: 29px;
  }

  .site-list {
    display: none;
  }
  
}
