@import "../../styles/index.scss";

#header {
  background: #FFFFFF;
  box-sizing: border-box;
  line-height: normal;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  width: 100%;
  position: fixed;
  top: 29px;
  z-index: 21;
}

.header__main {
  display: flex;
  box-sizing: border-box;
  height: 102px;
  padding-top: 1.5rem;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

ul.nav {
  display: flex;
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

ul.nav > li {
  padding: 0 20px;
}

#header ul li a {
    position: relative;
    text-decoration: none;
    color: #666;
}

ul.nav > li {
  padding: 0 20px;
}

.header__sub {
  position: relative;
  z-index: 20;
}

.dropdown-ul-section {
  display: none;
  top: -1.5rem;
  justify-content: flex-end;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.1);
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0.5rem 4rem;
  background: #FFF;
  width: 100%;
  right: 0;
  position: absolute;
}