@import "../../styles/index.scss";

#header {
  background: #FFFFFF;
  box-sizing: border-box;
  line-height: normal;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  width: 100%;
  position: fixed;
  z-index: 21;
}

.header-logo__wrapper.row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-logo__wrapper.col {
  flex-direction: column;
}

// nav with 5 elements
.header-nav {
  display: flex;
  justify-content: center;
  padding-top: 1rem;

  .navListAnchor {
    position: relative;
    text-decoration: none;
    color: #666;

    &:hover {
      color: #046b99;
      border-bottom: 3.5px solid #046b99;
    }
  }

  .navListArrow {
    font-weight: 800;
  }

  ul.nav {
    display: flex;
    list-style: none;
    font-size: 13px;
    margin: 0;
    padding: 0;
  }

  ul.nav > li {
    padding-left: 40px;
    padding-right: 40px;
  }
  
} // end header-nav

.header-nav.tight {
  padding-top: 0;
}

.header__main {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 140px;
  padding-top: 1.5rem;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  flex-direction: column;
}

.header-logo__wrapper {
  display: flex;
  justify-content: center;
  //flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  //border-bottom: .1px solid #ccc;
  width: 100%;
}

.header__main.tight {
  height: 50px; 
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul.nav {
  display: flex;
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
}


// container for "subnav"
.header__sub {  
  position: relative;
  z-index: 20;

  ul.ul-dropdown > li.secondaryNavli > a {
    text-decoration: none;
    color: #666;  
  }
  
  .secondaryNavli {
    //display: inline-block; 
    float: left;
    font-size: 13px;
    white-space: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
  
}

.active {
  display: flex;
}

.active-table {
  display: table;
}

.spacer-element {
  flex-grow: 1;
}
 

// generic for dropdown dynamic list.
.data-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  background: #fff;
  padding-bottom: .25rem;

  .data-list-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0;
  
    .data-list-li {
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-weight: 300;
    }

  }

  // specific for FFG section as they have headers.
  .data-list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: .25rem;

    .data-list-ul--ffg {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .data-list-li {
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-weight: 300;
    }

    .section-title {
      margin: 0;
      padding: 0;
    }

  }

  .data-list-a {
    text-decoration: none;
    color: #666;  
  }

  .data-list-a:hover {
    color: #046b99;
  }

}

