$grey: #4a4a4a;
$cuRed: #881E3D;

.download {
  color: $grey;
  font-size: 12pt;
  margin-bottom: 5rem; //TODO: HACK FIX ASAP

}

.download--faded {
  opacity: 0.5;
  line-height: 18pt;
}

.download__data {
  color: $grey;
  margin-left: 12px;
  fill: $grey;
  cursor: pointer;

  &:hover {
    color: $cuRed;

    img {
      filter: brightness(0.5) sepia(1);
      // filter: invert(.5) sepia(1) saturate(75.5%) hue-rotate(322deg) brightness(42.7%);
    }
  }
}