@import '../../../styles/variables';
@import '../../../styles/index';

.featured {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  overflow: hidden;
  min-height: 100%;
}

.heading {
  @include homepageSubtitle();
  margin-top: $margin-45;
  text-align: center;
}

.image {
  width: 100%;
}

.text {
  @include homepageBodyCopy();
  padding: 0 2.188rem;
  text-align: center;
}

// TODO: Fix BEM
.heading-mobile, .text-mobile {
  display: none;
}

.image {
  padding-left: 0;
}

@media screen and (max-width: $desktop) {
  .text {
    padding-right: 0;
  }

  .image {
    padding-left: 0;
  }
}