@import '../../../styles/variables.scss';

#sunburst svg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#sunburst path {
  cursor: pointer;
  stroke: #fff;
  stroke-width: .4;
}

#sunburst path.depth1 {
  opacity: 1;
}

#sunburst path.depth2 {
  opacity: 0.5;
}

.center-title {
  text-transform: capitalize;
}

.center-heading {
  stroke: grey;
}

.center-amount {
  font-size: 2em;
  font-style: inherit;
  font-weight: lighter;
  stroke: $cuRed;
  ; /*match 1st wedgeColor*/
}

.cu-header__blurb {
  text-align: center;
}