@import '../../../styles/variables.scss';

#sunburst {
  margin: 0 auto;
}

#sunburst path {
  cursor: pointer;
  stroke: #fff;
  stroke-width: .4;
}

//    #sunburst {
//      height: 700px;
//      width: 700px;
//      position: relative;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      margin: 0 auto;
//    }
//
//    #sunburst svg {
//      position: absolute;
//      top: 0;
//      left: 0;
//    }
//
//    #sunburst path {
//      cursor: pointer;
//      stroke: #fff;
//      stroke-width: .4;
//    }
//    #sunburst path.depth1 {
//      opacity: 1;
//    }
//    #sunburst path.depth2 {
//      opacity: 0.5;
//    }

#sunburst path.depth1 {
  opacity: 1;
}

#sunburst path.depth2 {
  opacity: 0.5;
}

.center-title {
  text-transform: capitalize;
}

.center-heading {
  stroke: grey;
}

.center-amount {
  font-size: 2em;
  font-style: inherit;
  font-weight: lighter;
  stroke: $cuRed;
  ; /*match 1st wedgeColor*/
}

.cu-header__blurb {
  text-align: center;
}

//#investment-categories {
//    display: flex;
//    justify-content: center;
//    box-sizing: border-box;
//    flex-direction: column;
//
//    #investment-categories__number {
//      color: #666666;
//      font-family: "Source Sans Pro";
//      font-size: 48px;
//      font-weight: 600;
//      line-height: 50px;
//      text-align: center;
//      margin: 0;
//      padding: 1rem;
//    }
//
//    #investment-categories__title {
//      color: #666666;
//      font-size: 16px;
//      font-weight: 600;
//      letter-spacing: 2.8px;
//      line-height: 20px;
//      text-align: center;
//      margin: 0;
//      padding: 1rem;
//    }
//
//    #investment-categories__preblurb {
//      color: #881e3d;
//      font-size: 42px;
//      line-height: 48px;
//      text-align: center;
//      margin: 0;
//      padding: 1rem;
//    }
//
//    #investment-categories__blurb {
//      color: #555555;
//      font-size: 17px;
//      font-weight: 300;
//      line-height: 24px;
//      text-align: center;
//      margin: 0;
//      padding: 1rem;
//    }
//
//    #investment-table {
//      display: none;
//    }
//
//    #investment-table--contracts {
//      display: none;
//      align-self: center;
//    }
//
//    #investment-table--research {
//      display: none;
//      align-self: center;
//    }
//
//    #investment-table--grants {
//      display: none;
//      align-self: center;
//    }
//
//    #chart-area {
//      width: 100%;
//      display: flex;
//      flex-direction: column;
//      justify-content: space-around;
//    }
//
//    #sunburst-header {
//      justify-content: space-between;
//    }
//
//    #categories label {
//      margin-right: 35px;
//    }
//
//    #chart-container {
//      display: flex;
//      justify-content: space-between;
//    }
//
//    #investment-sunburst {
//      display: flex;
//      flex-direction: column;
//      margin: 0 auto;
//
//      #investment-sunburst-tables {
//        width: 100% !important;
//      }
//    }
//
//    circle {
//      fill: none;
//      stroke: black;
//      stroke-width: 2px;
//    }
//
//    circle.innerCircle {
//      stroke: none;
//    }
//
//    #sunburst {
//      height: 700px;
//      width: 700px;
//      position: relative;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      margin: 0 auto;
//    }
//
//    #sunburst svg {
//      position: absolute;
//      top: 0;
//      left: 0;
//    }
//
//    #sunburst path {
//      cursor: pointer;
//      stroke: #fff;
//      stroke-width: .4;
//    }
//    #sunburst path.depth1 {
//      opacity: 1;
//    }
//    #sunburst path.depth2 {
//      opacity: 0.5;
//    }
//
//    #center {
//      display: flex;
//      flex: 1 1 auto;
//      font-size: 1.1em;
//      text-align: center;
//      max-height: 320px;
//      max-width: 320px;
//      overflow: hidden;
//    }
//
//    .center-title {
//      text-transform: capitalize;
//    }
//
//    .center-heading {
//      stroke: grey;
//    }
//
//    .center-amount {
//      font-size: 2em;
//      font-style: inherit;
//      font-weight: lighter;
//      stroke: #881e3d; /*match 1st wedgeColor*/
//    }
//
//    #legend_colorKey {
//      position: relative;
//      left: -100px;
//      margin: 50px 0 0 0;
//      padding: 0;
//      overflow: visible;
//    }
//
//    #legend_scaleKey {
//      width: 225px;
//      height: 130px;
//      position: absolute;
//    }
//
//    .legend_circleKeyLabel {
//      position: absolute;
//      border-top: solid 1px #DDD;
//      width: 70px;
//      left: 65px;
//    }
//
//    .legend_circleKeyLabel span {
//      font-size: 10px;
//      color: #666;
//      position: absolute;
//      display: block;
//      width: 90px;
//      top: -8px;
//      left: 75px;
//    }
//
//    .legend_scaleKeyCircle {
//      stroke-width: 1;
//      stroke: #666;
//      stroke-dasharray: 2;
//      fill: none;
//    }
//
//    .chart-footer {
//      max-width: 900px;
//      margin: 0 auto 1rem;
//      padding: 0 1rem;
//      width: calc(100% - 2rem);
//    }
//  } // end of investment categories
