@import "../../../styles/index.scss";

.page {
  margin: 110px auto 0;
  max-width: $desktop-xl-mcw;
}

.header {
  text-align: center;
  border-bottom: #666666 1px solid;
  padding-bottom: 100px;
}

.logo {
  margin: 25px auto 35px;
  width: 200px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: $semibold;
  letter-spacing: 0.175rem;
  line-height: 1.25rem;
  margin-bottom: 40px;
}

.topic {
  margin: auto 95px auto;
  font-size: 2.5rem;
  font-weight: $light;
  line-height: 1;
}

.hwcta {
  margin: 100px 8.33% 120px;
}

@media (min-width: $tablet) and (max-width: $desktop-xl - 1) {
  .page {
    margin-top: 105px;
  }

  .header {
    padding-bottom: 150px;
  }

  .logo {
    margin-bottom: 50px;
  }

  .title {
    margin-bottom: 45px;
  }
  
  .hwcta {
    margin-top: 75px;
  }
}

@media (max-width: $tablet - 1) {
  .page {
    width: 95%;
    margin-top: 75px;
  }

  .header {
    padding-bottom: 100px;
    text-align: left;
  }

  .logo {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 15px;
    text-align: left;
  }

  .topic {
    margin: 0;
  }

  .hwcta {
    margin-top: 50px;
  }
}
