@import '../../../styles/index.scss';

.page {
  margin: 110px auto 0;
  max-width: 1140px;
}

.header {
  text-align: center;
  border-bottom: #666666 1px solid;
  padding-bottom: 135px;
}

.logo {
  margin: 25px auto 50px;
  width: 200px;
}

.title {
  text-align: center;  
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: $semibold;
  letter-spacing: 0.175rem;
  line-height: 1.25rem;
  margin-bottom: 50px;
}

.topic {
  width: 75%;
  margin: auto;
  font-size: 2.5rem;
  font-weight: $bold;
  line-height: 1;
}

.hwcta {
	margin: 0 8.33% 75px;
}
