@import '../../../styles/index.scss';

.page {
  margin: 100px auto 75px;
}

.header {
  text-align: center;
  border-bottom: #666666 1px solid;
  padding-bottom: 100px;
}

.logo {
  margin: 25px auto 50px;
  width: 200px;
}

.title {
  text-align: center;  
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.175rem;
  line-height: 1.25rem;
}

.topic {
  width: 75%;
  margin: auto;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}
