@import '../../../styles/variables';
@import '../../../styles/index';

.highlight {
  border-top: 1px solid #ddd;
  text-align: left;

  .headings {
    padding-bottom: 0 !important;
    margin-bottom: 0;
  }

  .heading {
    @include homepageTitle();
  }

  .subheading {
    @include homepageSubtitle();
    margin-bottom: 0;
  }

  .text {
    @include homepageBodyCopy();
    padding: 0 0.88rem;
  }

  .image {
    margin-bottom: 0;
    padding-bottom: 0 !important;

    img {
      padding-top: $margin-15;
      width: 100%;
    }
  }

}



