@import '../../../variables.scss';

.featured {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  overflow: hidden;
  min-height: 100%;
}

.featured__heading {
  font-size: 24px;
  text-align: center;
  text-align: center;
}

.featured__image {
  width: 100%;
}

.featured__text {
  padding: 0 2.188rem;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.featured__heading--mobile, .featured__text--mobile {
  display: none;
}

.feature-row__image {
  padding-left: 0;
}

@media screen and (max-width: $desktop) {
  .feature-row__text {
    padding-right: $margin-override;
  }

  .feature-row__image {
    padding-left: $margin-override;
  }
}