#legend_colorKey {
  position: relative;
  left: -50px;
  margin: 50px 0 0 0;
  padding: 0;
  overflow: visible;
}

#legend_scaleKey {
  width: 225px;
  height: 130px;
  position: absolute;
}

.legend_circleKeyLabel {
  position: absolute;
  border-top: solid 1px #DDD;
  width: 70px;
  left: 65px;
}

.legend_circleKeyLabel:first-child {
  top: 25px;
}

.legend_circleKeyLabel:nth-child(2) {
  top: 36px;
}

.legend_circleKeyLabel:nth-child(3) {
  top: 50px;
}

.legend_circleKeyLabel span {
  font-size: 10px;
  color: #999;
  position: absolute;
  display: block;
  width: 90px;
  top: -8px;
  left: 75px;
}

.legend_scaleKeyCircle {
  stroke-width: 1;
  stroke: #999;
  stroke-dasharray: 2;
  fill: none;
}
