@import '../../../styles/variables';

#legend-colorkey {
  position: relative;
  left: -50px;
  overflow: visible;
  margin: 10px 0 0 0;
  padding: 0;
}

#legend-scalekey {
  width: 225px;
  height: 130px;
  position: absolute;
}

.legend-circlekey-label {
  position: absolute;
  border-top: solid 1px $font-legend-label;
  width: 70px;
  left: 65px;
}

.legend-circlekey-label:first-child {
  top: 25px;
}

.legend-circlekey-label:nth-child(2) {
  top: 36px;
}

.legend-circlekey-label:nth-child(3) {
  top: 50px;
}

.legend-circlekey-label span {
  font-size: 10px;
  color: $radial-legend;
  position: absolute;
  display: block;
  width: 90px;
  top: -8px;
  left: 75px;
}

.legend-scalekey-circle {
  stroke-width: 1;
  stroke: $radial-legend;
  stroke-dasharray: 2;
  fill: none;
}
