@import "../../../styles/index";

$landing-title-color: #4a4a4a;

@mixin landing-subtext {
  font-size: 1.4375rem;
  font-weight: bold;
}

.container:global(.MuiGrid-container) {
  margin-left: 0 !important;
  width: 100% !important;
}

.image:global(.MuiGrid-item) {
  padding: 0 !important;
}

.heading {
  @include homepageTitle();
  text-align: left;
  width: calc(100% - 32px);
  padding-top: 0;
  margin-top: 0;
}

.title {
  @include homepageSubtitle();
  text-align: left;
  width: calc(100% - 32px);
}

.blurb {
  @include homepageBodyCopy();
  width: calc(100% - 32px);
}

.content:global(.MuiGrid-item) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-row {
  &:hover {
    .content {
      .heading {
        text-decoration: underline;
      }

      .title {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: $desktop) {
  .container {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }

  .image {
    margin-left: 8px;

    img {
      width: calc(100% - 12px);
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      float: right;
    }
  }

  .content {
    padding-bottom: 0;
  }

  .title {
    margin-bottom: 0;
  }
}

@media (max-width: $desktop - 1) {
  .heading {
    margin-top: 0;
  }

  .content {
    padding-top: 0;
    margin: 16px;
  }

  .image {
    img {
      padding: 0;
      width: calc(100% - 16px);
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .container {
    flex-direction: row-reverse;
  }
}

@media (min-width: $phone) and (max-width: $desktop - 1) {
  .content {
    &:global(.MuiGrid-item) {
      padding-top: 0 !important;
    }
  }

  .heading {
    margin-top: 0;
  }

  .image {
    padding: 0 2px 0 0 !important;
  }
}

@media (max-width: $tablet - 1) {
  .title {
    margin-bottom: 0;
  }

  .heading,
  .blurb {
    display: none;
  }
}

@media (max-width: $phone - 1) {
  .content {
    &:global(.MuiGrid-item) {
      padding-left: 0 !important;
    }
  }

  .title {
    font-size: 1.125rem;
    width: 100%;
  }
}
