@import '../../../styles/variables';
@import '../../../styles/index';

$landing-title-color: #4a4a4a;


@mixin landing-subtext {
  font-size: 1.4375rem;
  font-weight: bold;
}

.container {
  margin-left: 0 !important;
  width: 100% !important;
}

.image {
  padding: 0 !important;

  img {
    width: 100%;
  }
}

.heading {
  @include homepageTitle();
  width: calc(100% - 32px);
  padding-top: 0;
  margin-top: 0;
}

.title {
  @include homepageSubtitle();
  width: calc(100% - 32px);
}

.blurb {
  @include homepageBodyCopy();
  width: calc(100% - 32px);
}

.feature-row {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    .content {
      .heading {
        text-decoration: underline;
      }

      .title {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: $desktop) {
  .container {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }

  .image {
    margin-left: 8px;

    img {
      width: calc(100% - 12px);
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      float: right;
    }
  }

  .content {
    padding-bottom: 0;
    //padding-top: $margin-15;
    //padding-left: $margin-15;
    //margin-right: -24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

@media (min-width: $phone) and (max-width: $desktop - 1) {
  .content {
    padding-top: 0 !important;
  }

  .heading {
    margin-top: 0;
  }

  .image {
    img {
      padding-left: 1rem;
    }
  }
}

@media (min-width: $desktop) and (max-width: $desktop-xl - 1) {
  .title {
    margin-bottom: 0;
  }

  .blurb {
    padding-left: 16px;
    padding-rightt: 16px;
    width: 100%;
  }
}

@media screen and (max-width: $phone - 1) {
  .blurb {
    display: none;
  }

  .title {
    font-size: 1.125rem;
    width: 100%;
  }

  .container {
    flex-direction: column-reverse;

    .heading {
      margin-top: 5rem;
    }
  }
}





