@import '../../../styles/variables';
@import '../../../styles/index';

$landing-title-color: #4a4a4a;


@mixin landing-subtext {
  font-size: 23px;
  font-weight: bold;
}

.container {
  margin-left: 0 !important;
  width: 100% !important;
}

.image {
  img {
    width: 100%;
  }
}

.heading {
  @include homepageTitle();
  width: calc(100% - 32px);
  padding-top: 0;
  margin-top: 0;
}

.content {
  padding-top: 0;
}

.title {
  @include homepageSubtitle();
  width: calc(100% - 32px);
}

.blurb {
  @include homepageBodyCopy();
  width: calc(100% - 32px);
}

.feature-row {
  &:hover {
    .content {
      .heading {
        text-decoration: underline;
      }

      .title {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: $desktop-xl) {
  .container {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }

  .image {
    margin-left: 8px;

    img {
      width: calc(100% - 12px);
      border-bottom-right-radius: 0.25rem;
      float: right;
    }
  }

  .content {
    padding-top: $margin-15;
    padding-left: $margin-15;
    margin-right: -24px;
  }
}

@media (min-width: $desktop) and (max-width: $desktop-xl) {
  .content {
    padding-top: 0;
  }

  .heading {
    margin-top: 0;
  }
}

@media (min-width: $tablet) and (max-width: $desktop) {
  .image {

    img {
      width: calc(100% - 16px);
      float: right;
    }
  }
}

@media screen and (max-width: $tablet) {
  .blurb {
    display: none;
  }

  .title {
    font-size: 18px;
  }


  //.container {
  //  flex-direction: row-reverse;
  //
  //  .image {
  //    float: left;
  //  }
  //}

}

@media screen and (max-width: $phone) {

}




