@import '../../styles/variables.scss';

$cuRed: #881E3D;
$darkGrey: #666666;
$mdGrey: #555555;
$greyBlack: #979797;

body, h1, h2, h3, h4, p, li {
  font-family: 'Source Sans Pro';
}

#TOC {
  margin-top: $margin-75;
  margin-bottom: $margin-100;

  .toc__tile {
    padding-top: 1rem;
  }

  .toc__tile:not(:first-child) {
    padding-top: 1rem;
    padding: 1rem 2rem 2rem !important;
  }

  .toc__tile:not(:last-child) {
    border-right: 1px solid #EEEEEE;
  }

  .toc__number h2 {
    color: $darkGrey;
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    margin: 0.1em 0 0.3em;
    text-align: left;
  }

  .toc__subtitle {
    color: $mdGrey;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    max-width: 200px;
    line-height: 17px;
    text-align: left;
  }

  .toc__section {
    color: $mdGrey;
    font-size: 18px;
    font-weight: 300;
    font-weight: 300;
    line-height: 58px;
    text-align: left;
  }
}


@media (min-width: $desktop) {

}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .story-page {
    max-width: 768px;
  }

  .header__title {
    text-align: left;
  }
}

@media (max-width: $tablet - 1) {
  .toc__subtitle {
    display: none;
  }

  .toc__tile:first-child {
    padding: 1rem 2rem 2rem !important;
  }
}