@import '../../styles/variables.scss';

body, h1, h2, h3, h4, p, li {
	font-family: 'Source Sans Pro';
}

#TOC {
	margin-top: $margin-30;
	margin-bottom: $margin-100;

	.tile {
		padding-top: 1rem;
	}

	.number {
		color: $font-body-copy;
		font-size: 2rem;
		font-weight: 600;
		line-height: 50px;
		margin: 0.1em 0 0.3em;
		text-align: left;
	}

	.subtitle {
		color: $font-title;
		font-weight: bold;
		font-size: 0.875rem;
		text-transform: uppercase;
		max-width: 200px;
		line-height: 17px;
		text-align: left;
	}

	.section {
		color: $font-title;
		font-size: 1.125rem;
		font-weight: 300;
		font-weight: 300;
		line-height: 58px;
		text-align: left;
	}
}

@media (min-width: $desktop-xl) {
	#TOC {
		margin-top: $margin-75;

		.tile:not(:last-child) {
			border-right: 1px solid $font-lightGrey;
		}
	}
}

@media (min-width: $tablet) and (max-width: $desktop-xl - 1) {
	#TOC {
		.tile:nth-child(odd) {
			border-right: 1px solid $font-lightGrey;
		}
	}
}

@media (min-width: $phone) and (max-width: $desktop-xl - 1) {
	#TOC {
		margin: 0 auto;
		margin-top: $margin-30;
		margin-bottom: $margin-100;

		.tile:nth-child(1),
		.tile:nth-child(2) {
      		border-bottom: $font-lightGrey solid 1px;
      		padding-bottom: 32px;
		}

		.tile:last-child {
			border-right: none;
		}
	}
}

@media (max-width: $tablet - 1) {
	#TOC .a {
		width: 100%;
	}

	#TOC .tile {
		border-right: unset;
	}
}

@media (max-width: $phone - 1) {
	#TOC {
		margin-top: $margin-25;

		.subtitle {
			display: none;
		}
		.number {
			font-size: 1.5rem;
			line-height: 3.125rem;
		}
		.tile {
			padding: 0;
		}
	}
}
