@import '../../../styles/variables';
@import '../../../styles/index';

.dts {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  text-align: left;
  margin-bottom: $margin-30;

  h1 {
    text-transform: uppercase;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-size: .8rem;
    border-bottom: 1px solid #ddd;
    background-color: #fafbfc;
    line-height: 3;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-left: 1rem;
    height: 33px;
  }

  h2 {
    @include homepageSubtitle();
    padding: 0 1rem;
  }

}


@media screen and (max-width: $desktop-xl) {
  .dts {
    text-align: center;
  }
}