@import '../../styles/variables.scss';

.entry {
  margin-top: $margin-100;
  margin-bottom: 5rem;

  FontAwesomeIcon {
    line-height: 100px;
    font-weight: 300;
  }
}

.link-text {
  justify-content: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 90px;
}

@media (max-width: $tablet - 1) {
  .image {
    display: none;
  }
}

