@import '../../../styles/variables';

// featured-analyses-tile-row.scss
$landing-title-color: #4a4a4a;

@mixin landing-header {
  font-size: 17px;
  color: #2272CE;
  font-weight: bold;
}

@mixin landing-subtext {
  font-size: 25px;
  font-weight: bold;
}

.feature-row__text {
  margin-top: 1rem;
  padding-right: $margin-override;
}

.feature-row__border {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.feature-row__image {
  padding-right: $reset-override;

  img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0.25rem;
  }
}

.feature-row__heading {
  @include landing-header;

  margin-top: 0;
}

.feature-row__title {
  @include landing-subtext;
  color: $landing-title-color;
  margin-bottom: 2.188rem;
  margin-top: 1rem;
}

.feature-row__blurb {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: black;
  font-stretch: normal;
  margin-top: 0;
}

.feature-row {
  &:hover {
    .feature-row__text {
      .feature-row__heading {
        text-decoration: underline;
      }

      .feature-row__title {
        text-decoration: underline;
      }
    }
  }
}


@media screen and (max-width: $tablet) {
  .feature-row__blurb {
    display: none;
  }

  .feature-row__title {
    font-size: 18px;
  }

}

@media screen and (max-width: $desktop-xl) {


  .feature-row__border {
    border: none;
  }

  .feature-row__image {
    padding-left: $margin-override;
    img {
      border-radius: 0;
      height: unset;
    }
  }
}



