@import "../../styles/index.scss";

.section {
  margin: 100px 50px auto;
  padding-bottom: 50px;

  .title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $semibold;
    letter-spacing: 0.175rem;
    line-height: 1.25rem;
    border-bottom: #ccc 1px solid;
    padding-bottom: 5px;
    display: inline;
  }

  .container {
    margin-top: 50px;
  }

  .subtitle {
    font-size: 2.625em;
    font-weight: $semibold;
  }

  .viztitle {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2em;
  }
}

@media (min-width: $tablet) and (max-width: $desktop-xl - 1) {
  .section {
    width: 95%;
    margin: 100px auto auto;
    padding-bottom: 0;
    text-align: center;

    .container {
      margin-top: 20px;
    }

    .viztitle {
      text-align: left;
      margin-top: -10px;
    }

    .description {
      padding-bottom: 14px;
    }
  }
}

@media (max-width: $tablet - 1) {
  .section {
    width: 95%;
    margin: 50px auto auto;
    padding-bottom: 0;

    .container {
      margin-top: 20px;
    }

    .subtitle {
      font-size: 1rem;
      font-weight: $semibold;
      color: inherit;
    }

    .viztitle {
      margin-top: -10px;
    }
  }
}
