@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600');
@import 'variables';

body {
  margin: 0;
  padding: 0;
}

body, p, h1, h2, h3, h4, h5, input, select, textarea {
  color: #666666;
  font-family: 'Source Sans Pro';
}

a:-webkit-any-link {
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

@mixin H1---Title-Heading-Style {
  font-family: SourceSansPro;
  font-size: 56px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-title);
}

@mixin H2---Sub-Heading-Style {
  font-family: SourceSansPro;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-title);
}

@mixin H3---Sub-Heading-Style {
  font-family: SourceSansPro;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-title);
}

@mixin H4---Sub-Heading-Style {
  font-family: SourceSansPro;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-title);
}

@mixin H5---Sub-Heading-Style {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-title);
}

@mixin Lead-Paragraph-Style {
  font-family: SourceSansPro;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--font-body-copy);
}

@mixin H6---Sub-Heading-Style {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-title);
}

@mixin Body-Style {
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-body-copy);
}

@mixin Body-Copy---Light {
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-body-copy);
}

@mixin Table---copy-Style {
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-body-copy);
}

@mixin Body---Small-Style {
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-body-copy);
}