@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600');
@import 'variables';

body {
  margin: 0;
  padding: 0;

  // override MuiCssBaseline setting (cannot figure out how in global createMuiTheme)
  *, ::before, ::after {
    box-sizing: border-box
  }
}

body, p, h1, h2, h3, h4, h5, input, select, textarea, ul, li {
  font-family: Source Sans Pro;
}

body, h1, h2, h3, h4, h5, input, select, textarea, div {
   color: $font-body-copy;
 }

p, ul, li, span {
  color: $font-body-copy;
  font-size: 1rem;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:any-link {
  cursor: pointer;
  text-decoration: none;
}

ul {
  max-height: none;
  overflow-y: inherit;
  border: none;
  background-color: inherit;
}

.hidden {
  display: none;
}

.MuiGrid-grid-xs-true {
  flex-basis: 100%;
}

@mixin homepageSectionHeading {
  font-size: 1.17rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin sectionHeading {
  font-size: 1.17em;
  padding-bottom: 1rem;
  font-weight: bold;
}

@mixin homepageTitle {
  text-align: left;
  color: #2272CE;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@mixin homepageSubtitle {
  text-align: left;
  font-size: 130%;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: #4A4A4A;

  &:hover {
    text-decoration: underline;
  }
}

@mixin homepageBodyCopy {
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  font-size: 1rem;
  font-weight: 300;
}

@mixin h1-heading {
  font-family: Source Sans Pro;
  font-size: 3.5rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-title;
}

@mixin h2-subheading {
  font-family: Source Sans Pro;
  font-size: 3rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-title;
}

@mixin h3-subheading {
  font-family: Source Sans Pro;
  font-size: 2.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-title;
}

@mixin h4-subheading {
  font-family: Source Sans Pro;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-title;
}

@mixin h5-subheading {
  font-family: Source Sans Pro;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-title;
}

@mixin lead-paragraph {
  font-family: Source Sans Pro;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $font-body-copy;
}

@mixin h6-subheading {
  font-family: Source Sans Pro;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-title;
}

@mixin body-copy {
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-body-copy;
}

@mixin body-copy {
  font-family: Source Sans Pro;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-body-copy;
}

@mixin table-copy {
  font-family: Source Sans Pro;
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-body-copy;
}

@mixin body-small {
  font-family: Source Sans Pro;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $font-body-copy;
}
.superscript {
  vertical-align:super;
  font-size: smaller;
}

/**
 * Taken from src/page-sections/story-demo/section.scss
 * todo - Integrate these into a modules file. They're used in multiple places globally, so it's hard to determine exactly which files need to
          include these.
 */

$darkGrey: #666666;
$mdGrey: #555555;

.title {
  text-align: left;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: $margin-20;
  margin-top: 0;
}

.section__header {
  text-align: left;
}

.section__header__number {
  margin-bottom: $margin-50;
  border-bottom: 1px solid $darkGrey;

  h2 {
    color: $darkGrey;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.125rem;
    margin: 0.1em 0 0.3em;
    text-align: left;
  }
}

.section__header__title {
  color: $darkGrey;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 3.75rem;
  text-align: left;
  text-transform: uppercase;
}

.MuiGrid-item.intro {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: $margin-30;
}

.intro-container {
  margin: 0 0 $margin-50 0;
}

.main__section {
  margin-bottom: $margin-100;
}

@media (min-width: $desktop-xl){
  .MuiGrid-item.intro {
    margin-bottom: 0;
  }
}

@media (max-width: $phone - 1){
  .MuiGrid-item.intro {
    font-size: 1.125rem;
    font-weight: 600;
    color: $darkGrey;
    margin: $margin-25 0;
  }
}
