$margin-override: 2% !important;
$margin: 2%;
$reset: 0;
$reset-override: 0 !important;

//$desktop-xl: 1200px; // 1136px flexboxgrid l
//$desktop: 992px;  // 976px / 1024 px? md
//$tablet: 768px; // 736 px / 768 px? sm
//$phone: 576px;  // 480 px ? xs

$desktop-xxl: 1450px;
$desktop-xl: 1200px;
$desktop: 1024px;
$tablet: 768px;
$phone: 480px;

$margin-150: 150px;
$margin-100: 100px;
$margin-75: 75px;
$margin-50: 50px;
$margin-45: 45px;
$margin-30: 30px;
$margin-25: 25px;
$margin-20: 20px;
$margin-15: 15px;
$margin-10: 10px;