@import '../../../variables.scss';

.more-analyses__tile {
  padding-bottom: $margin * 3;
  padding-right: $margin * 2 !important;
}

.more-analyses__tile-title {
  padding-bottom: $margin * 8;
}

.more-analyses__tile-text {
  padding-bottom: $margin * 4;
}

@media screen and (max-width: $desktop-xl) {
  //.more-analyses__tile:nth-child(even) {
  //  padding-left: $margin !important;
  //  padding-right: 0 !important;
  //  padding-bottom: 0;
  //}
  //
  //.more-analyses__tile:nth-child(odd) {
  //  padding-left: 0 !important;
  //  padding-right: $margin !important;
  //  padding-bottom: 0;
  //}

  .more-analyses__tile {
    padding-bottom: 0 !important;
    border-bottom: 1px solid grey;
  }

  .more-analyses__tile-title {
    padding-bottom: 0;
  }

  .more-analyses__tile-text {
    padding-bottom: 0;
  }

  .more-analyses__featured-tile {
    padding-bottom: $margin * 2;
  }

  .more-analyses__image-container {
    padding: 0 !important;
  }
}

@media screen and (min-width: $desktop-xl) {
  .more-analyses__featured-tile {
    padding-right: 0 !important;
  }
}

