@import '../../../styles/variables';

.more-analyses__tile {
  padding-bottom: $margin * 3;
  padding-right: $margin * 2 !important;
}

.more-analyses__tile-title {
  padding-bottom: $margin * 8;
}

.more-analyses__tile-text {
  padding-bottom: $margin * 4;
}

@media screen and (max-width: $desktop-xl) {
  .more-analyses__tile {
    padding-bottom: $reset-override;
    border-bottom: 1px solid #ddd;
    margin-bottom: $margin * 2;
  }

  .more-analyses__tile-title {
    padding-bottom: 0;
  }

  .more-analyses__tile-text {
    padding-bottom: 0;
  }

  .more-analyses__featured-tile {
    padding-bottom: $margin * 2;
  }

  .more-analyses__image-container {
    padding: $reset-override;
  }
}

@media screen and (min-width: $desktop-xl) {
  .more-analyses__featured-tile {
    padding-right: $reset-override;
  }
}

