@import '../../../styles/variables';

.tile {
  padding-bottom: $margin * 3;
  padding-right: $margin * 2 !important;
}

.tile__subtitle {
  padding-bottom: $margin * 8;
}

.tile__title {
  padding-bottom: $margin * 4;
}

.image {
  width: 100%;
}

@media screen and (max-width: $desktop-xl) {
  .tile {
    padding-bottom: $reset-override;
    border-bottom: 1px solid #ddd;
    margin-bottom: $margin * 2;
  }

  .tile__title {
    padding-bottom: 0;
  }

  .tile__subtitle {
    padding-bottom: 0;
  }

  .featured__tile {
    padding-bottom: $margin * 2;
  }

  .image__container {
    padding: $reset-override;
  }
}

@media screen and (min-width: $desktop-xl) {
  .featured-tile {
    padding-right: $reset-override;
  }
}

