@import "../../../styles/variables.scss";

.search-list-family {
  font-size: 0.8rem;
  font-weight: 300;
}

.search-list-program {
  font-size: 1rem;
  color: #4a4a4a;
  margin: 0;
}

.cat-container {
  width: 100%;
}

.cu-story-heading:global(.MuiGrid-item.intro) {
  margin-bottom: 50px !important;
}

@media (min-width: $desktop-xl) {
  .cat-container {
    height: 800px;
  }
}

@media (min-width: $desktop) and (max-width: $desktop-xl - 1) {
  .cat-container {
    height: 780px;
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .cat-container {
    height: 550px;
  }
}

@media (max-width: $tablet - 1) {
  .cat-container {
    height: 425px;
  }
}
