@import "../../../styles/variables";

$darkGrey: #666666;
$mdGrey: #555555;
$greyBlack: #979797;
$fedEmpBlue: #2272ce;

.header {
  text-align: left;
  margin-bottom: 1.5rem;
}

.headerNumber {

  h2 {
    color: $darkGrey;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.125rem;
    margin: 0.1em 0 0.3em;
    text-align: center;
    border-bottom: 1px solid $darkGrey;
  }
}

.headerTitle {
  color: $darkGrey;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.introContainer {
  margin: 0 0 $margin-50 0;

  .intro {
    padding: 0;
  }

  .blurbText {
    color: #555555;
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
  }
}

.heading {
  padding: 100px 0 50px;
}

.number {
  display: inline-block;
  margin-right: 8.33%;
  margin-bottom: 50px;
  color: #666;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
}

.title {
  text-transform: uppercase;
  color: #666;
  font-size: 1rem;
  letter-spacing: 2.8px;
  line-height: 20px;
}

.teaser {
  color: #555555;
  font-size: 2.625rem;
  line-height: 48px;
  font-weight: 200;
}

.blurb {
  color: #555555;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 24px;
}

.heading-red {
  color: $cuRed;
  font-weight: 400;
  font-size: inherit;
}

.heading-orange {
  color: $opioidOrange;
  font-weight: 400;
  font-size: inherit;
}

@media (max-width: $desktop-xl - 1) {
  .number {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet) and (max-width: $desktop-xl - 1) {
  .heading {
    padding: 100px 0 30px;
    text-align: center;

    .number {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet - 1) {
  .heading {
    padding: 25px 0;
  }
}

@media (min-width: $desktop-xl) {
  .header {
    .headerTitle {
      line-height: 60px;
    }
  }

  .intro {
    margin-bottom: 0;
  }
}

@media (min-width: $phone) and (max-width: $desktop-xl) {
  .header {
    text-align: center;
  }
  .introContainer {
    margin-bottom: $margin-30;
  }
  .header {
    .headerTitle {
      margin-top: $margin-25;
    }
  }
}

@media (max-width: $phone - 1) {
  .introContainer {
    margin: 0 0 25px 0 !important;

    div {
      padding: 0 !important;
    }

    .intro {
      font-size: 1.125rem;
      font-weight: 600;
      color: $darkGrey;
      margin: 1rem 0;
    }
  }
  .header {
    .headerTitle {
      margin-top: 0;
      line-height: 3.125rem;
      font-size: 1.125rem;
    }
  }
  .headerNumber h2 {
    font-size: 1.5rem;
    margin: 0;
  }
}
