@import '../../../styles/variables';

$darkGrey: #666666;
$mdGrey: #555555;
$greyBlack: #979797;
$fedEmpBlue: #2272CE;

.header {
  text-align: left;
}

.headerNumber {
  margin-bottom: $margin-50;
  border-bottom: 1px solid $darkGrey;

  h2 {
    color: $darkGrey;
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    margin: 0.1em 0 0.3em;
    text-align: center;
  }
}

.headerTitle {
  color: $darkGrey;
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
}

.introContainer {
  margin: 0 0 $margin-50 0;
}
