@import '../../../styles/variables';

$darkGrey: #666666;
$mdGrey: #555555;
$greyBlack: #979797;
$fedEmpBlue: #2272CE;

.header {
  text-align: left;
}

.headerNumber {
  margin-bottom: $margin-50;
  border-bottom: 1px solid $darkGrey;

  h2 {
    color: $darkGrey;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.125rem;
    margin: 0.1em 0 0.3em;
    text-align: center;
  }
}

.headerTitle {
  color: $darkGrey;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.introContainer {
  margin: 0 0 $margin-50 0;

  .blurbText {
    color: #555555;
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
  }
}

@media (min-width: $desktop-xl){
  .header {
    .headerTitle {
      line-height: 60px;
    }
  }
}

@media (min-width: $phone) and (max-width: $desktop-xl){
  .header {
    text-align: center;
  }
  .introContainer {
    margin-bottom: $margin-30;
  }
  .header {
    .headerTitle {
      margin-top: $margin-25;
    }
  }
}

@media (max-width: $phone - 1){
  .introContainer {
    margin-bottom: $margin-25;
  }
  .header {
    .headerTitle {
      margin-top: 0;
      line-height: 3.125rem;
      font-size: 1.125rem;
    }
  }
  .headerNumber h2 {
    font-size: 1.5rem;
    margin: 0;
  }
}
