.top5-div {
  display: inline-block;
}

.mapbox-refresh {
  display: inline-block;
  width: auto;
  font-size: 1rem;
  color: #999;
  margin-left: 20px; 
}

.mapbox-refresh:hover {
  cursor: pointer;
};
