@import '../../styles/variables';

$competedColor: #0071bc;
$nonCompetedColor: #D334BA;
$summaryBorderColor: #DDD;

.container {

  display: flex;
  flex-direction: column;
  text-align: center;

  table,
  th,
  td {
    border: 1px solid black;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    opacity: 1;
  }

  .dropdown {
    border: 1px solid black;
    color:#000;
  }

  #summary {
    font-size: 0.75rem;
    color: black;
    border-top: 1px solid $summaryBorderColor;
  }

  .summary-item {
    text-align: center;
    border-bottom: 1px solid $summaryBorderColor;
    padding: $margin-15 $margin-10 $margin-10 $margin-10;
    margin-bottom: 0;
    > div {
      height: 100%;
    }
  }

  .select-wrapper1, .select-wrapper2 {
    display: inline-block;
    padding-top: 15px;
  }

  .legend{
    padding-top: 25px;
    display: inline-block;
  }

  #one > div > div.mask > div.viz-container > div > div:nth-child(2) > form > div.select-wrapper1 > label,
  #one > div > div.mask > div.viz-container > div > div:nth-child(2) > form > div.select-wrapper2 > label{
    font-family: inherit;
    font-size: 0.625rem;
  }

  #xAxisScaleDropdown{
    color:#000;
  }
  #competed-dollars,
  #not-competed-dollars,
  #competed-actions,
  #not-competed-actions{
    font-size: 2rem;
    font-weight: lighter;
    margin:0;
  }

  .svg {
    width: 100%;
    /*height: 100%;*/
  }

  /**
    * Classes below are added using the d3 library, so they don't add in the proper css module class naming.
   */
  :global{
    .domain {
      display: none;
    }

    .xtick {
      font-size: 1rem;
      fill: #4f4f4f;
      font-weight: 500;
    }
    .tick {
      stroke-width: 1;
      stroke: rgba(0, 0, 0, 0.2);
    }
  }

}

.bar-chart-div {
  padding: 0 $margin-25;
}

.viz-container {
  height: 90%;
  overflow: hidden;
}

#competed circle {
  fill: $competedColor;
}

#notCompeted circle {
  fill: $nonCompetedColor;
}

.summary-item-competed, .summary-item-not-competed {
  font-size: 1.6em;
  font-weight: 600;
}

.summary-item-competed {
  color: $competedColor
}

.summary-item-not-competed {
  color: $nonCompetedColor;
}

.summary-item-separator-lg {
  border-right: 1px solid $summaryBorderColor;
}

@media (max-width: 1000px) {
  .bar-chart-toolbar {
    flex-direction: column !important;
  }
}

@media(min-width: $desktop) {
  .bar-chart-div {
    margin-top: -50px; // correct for vertical placement
  }
}
  
@media (min-width: $desktop) {
  .container .summary-item {
    padding-left: 0;
    padding-right: 0;
  }
}

@media(min-width: $tablet) and (max-width: $desktop - 1){
  .bar-chart-div {
    margin-top: -30px; // correct for vertical placement
  }

  .summary-item-separator {
    border-right: 1px solid $summaryBorderColor;
  }
}

@media (min-width: $tablet){
  #summary {
    border-bottom: 1px solid #DDD;
  }

  .container {
    .summary-item {
      margin-top: $margin-10;
      border-bottom: 0;
      margin-bottom: 7px;
      padding-bottom: 8px;
    }
  }
}

@media(min-width: $phone) and (max-width: $tablet - 1){
  .bar-chart-div {
    margin-top: -20px; // correct for vertical placement
  }
}
