@import '../../../styles/index.scss';

.heading:first-child {
  @include sectionHeading();
  margin-top: 1rem;
  padding-bottom: unset;
}

.heading {
  @include sectionHeading();
  padding-bottom: unset;
}

.list-items {
  .heading {
    padding-bottom: 1rem;
  }
}

.subheading {
  color: #666;
  font-size: 1rem;
  text-transform: uppercase;
}

.text {
  @include body-copy();
}

.total-amount {
  @include body-copy();
  font-size: 2rem;
}

.list-item:global(.MuiGrid-item) {
  padding: 0 1rem;
}
.list-items {
  max-height: 300px;
  overflow-y: auto;
}
