@import '../../styles/variables.scss';

html {
  color: #444;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size:1.5rem;
}

.bold {
  font-weight: $bold;
}

.title {
  color: #333;
  font-size: 1rem;
}

.page-header-text {
  margin-top: 0.5rem;
  text-align: left;
}

#hwcta-page {
  max-width: 1140px;
  margin: 50px auto 0;

  a {
    color: rgb(166, 163, 194);
  }
}

.container {
  padding-top: $margin-30;
  margin-left: $margin-75;
  margin-right: $margin-75;
  margin-bottom: $margin-100;
}

.disc-list {
  list-style-type: disc;
}

.back-button-header {
  color: #2272CE !important;
  font-size: 0.95rem;
  font-weight: 600;
}

.back-button-header-slash {
  margin-right: $margin-15;
}
#back-button-footer-section {
  text-align: center;

  .back-button-footer {
    background-color: rgb(34, 114, 206);
    color: #FFF;
    font-weight: 600;
    font-size: 1.1rem;

    a {
      color: #FFF;
      font-size: 0.9rem;
      margin: 0 2.5rem;
    }
  }
}
.sources, .section-text {
  color: #777;
  font-size: 1rem;
}

.footer {
  margin-bottom: 100px;
}

.sources-container {
  margin-top: $margin-30;
  .sources-item > *:first-child {
    margin-top: 0;
  }
}

.sources-sections {
  section {
    padding: $margin-50 0;
  }
  section:last-child {
    padding-bottom: 0;
  }
  section + section {
    border-top: 1px solid #333;
  }
}

.toc-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: $desktop) {
  .page-header-text {
    font-size: 2rem;
    font-weight: 500;
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size:1.2rem;
    margin: 15px 0;
  }

  .container {
    margin-left: $margin-25;
    margin-right: $margin-25;
    margin-bottom: $margin-50;
  }

  .footer {
    margin-bottom: 60px;
  }

  .sources-sections {
    section {
      padding: 0;
    }
    section + section {
      border-top: 0;
    }
  }
}
