@import "../styles/index";

.featured-tile-row {
  padding-bottom: $margin-30;
}

.featured-row {
  padding-bottom: $margin-45;
}

.resource-row {
  padding-bottom: $margin-45;
}

.secondaryTiles {
  flex-direction: row;
}

.heading {
  @include homepageSectionHeading();
}

.more-analyses-row {
  padding-top: $margin-45;
  padding-bottom: $margin-45;

  MainTile {
    margin-top: $margin-15;
  }
}

@media (max-width: $desktop - 1) {
  .more-analyses-row {
    flex-direction: column-reverse;

    .featured-tile {
      margin-bottom: $margin-45;
    }
  }
}

@media (max-width: $tablet - 1) {
  .more-analyses-row {
    padding-top: 0;
  }

  .featured-tile-row,
  .featured-row,
  .resource-row {
    padding-bottom: 0;
  }
}
