@import '../styles/variables';
@import '../styles/index';

.featured-tile-row {
  padding-bottom: $margin-30;
}

.featured-row {
  padding-bottom: $margin-45;
}

.resource-row {
  padding-bottom: $margin-45;
}

.secondaryTiles {
  flex-direction: row;
}

.more-analyses-row {
  padding-bottom: $margin-45;

  .heading {
    @include homepageSectionHeading();
  }

  MainTile {
    margin-top: $margin-15;
  }
}

