@import '../styles/variables';
@import '../styles/index';

.featured-tile-row {
  padding-bottom: $margin-30;
}

.featured-row {
  padding-bottom: $margin-45;
}

.resource-row {
  padding-bottom: $margin-45;
}

.secondaryTiles {
  flex-direction: row;
}

.more-analyses-row {
  padding-bottom: $margin-45;

  .heading {
    @include homepageSectionHeading();
  }

  MainTile {
    margin-top: $margin-15;
  }
}

@media screen and (min-width: $desktop-xl) {
  .featured-tile {
  }

  .featured-tile-row {
  }
}

@media screen and (max-width: $desktop-xl) {
  .highlight__text {
    display: none;
  }

  .featured-tile {
    padding-bottom: $margin * 2 !important;
  }

}

