svg#chart {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  overflow: hidden;
}

#agency-legend_colorKey {
  position: relative;
  padding: 0;
  overflow: visible;
  -webkit-transition: left 1000ms; /* For Safari 3.1 to 6.0 */
  transition: left 1000ms;
}

#agency-legend_colorKey.left {
  left: -200px;
}

#agency-legend_scaleKey {
  width: 225px;
  height: 130px;
  position: absolute;
}

.legend_circleKeyLabel {
  position: absolute;
  border-top: solid 1px #DDD;
  width: 70px;
  left: 65px;
}

.legend_circleKeyLabel span {
  font-size: 0.625rem;
  color: #666;
  position: absolute;
  display: block;
  width: 90px;
  top: -8px;
  left: 75px;
}

.legend_scaleKeyCircle {
  stroke-width: 1;
  stroke: #666;
  stroke-dasharray: 2;
  fill: none;
}

#bubbleChartContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

circle.node,  circle.node--root, text.label {
  //cursor: zoom-in;
  //cursor: -moz-zoom-in;
  //cursor: -webkit-zoom-in;
  cursor: pointer;
}

circle.node--leaf {
  cursor: pointer;
}

circle.node--leaf.active {
  fill-opacity: .8;
  stroke: #FAEBD0;
  stroke-width: 9;
}

.node--root {
  fill: #f8f8f8;
}

.node {
  stroke: #E6E1E1;
  fill: #EBEBEB;
}

.d3-tip {
  pointer-events: none!important;
  z-index: 9999!important;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.bubble-chart-tooltip {
  .information {
    .key {
      color: #881E3D;
    }
  }
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.466);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}