@import "../../styles/index.scss";

$highlightColor: #1302d9;

.subtitle-highlight {
  color: $highlightColor;
  font-size: 2.625rem;
  font-weight: $bold;
}

.contents {
  text-align: justify;
  p {
    margin: 0 0 1rem 0;
  }

  .highlight {
    color: $highlightColor;
  }

  .center-img {
    margin-left: calc(50% - 102px / 2); // 102px = width of img
  }

  .left {
    float: left;
  }

  .bold {
    font-weight: $bold;
  }

  .list {
    list-style: none;
    padding-left: 0;

    li {
      &::before {
        content: "\203a";
        font-size: 1.5rem;
        font-weight: $bold;
        color: $highlightColor;
      }

      & > * {
        padding-left: 19px;
      }
    }
  }
}
