@import "../../styles/variables.scss";

$highlightColor: #1302d9;

.subtitle-highlight {
  color: $highlightColor;
  font-size: inherit;
  font-weight: $bold;
}

.title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.175rem;
  line-height: 1.25rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  display: inline;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

@media (min-width: $phone) and (max-width: $desktop-xl - 1) {
  .title {
    margin: 6rem auto 3rem;
  }
}
