@import "../../styles/variables.scss";

$left-indent: 32px;
$bullet-size: 1.5rem;
$highlightColor: #1302d9;

.subtitle-highlight {
  color: $highlightColor;
  font-size: 2.625rem;
  font-weight: $bold;
}

.accordion-contents {
  text-align: justify;
  font-size: 1rem;
  padding: 0 27px 22px $left-indent;

  p {
    margin: 0 0 0.5rem 0;
  }

  .extra-space {
    padding-bottom: 5px;
  }

  .flex-container {
    display: flex;
    padding-bottom: 9px;

    .bullet {
      font-size: $bullet-size;
      font-weight: $bold;
      color: $highlightColor;
      padding-right: 26px;

      &::before {
        content: "\203a";
      }
    }

    .bullet-size {
      line-height: $bullet-size;
    }
  }

  .highlight {
    color: $highlightColor;
  }

  .bold {
    font-weight: $bold;
  }

  .center-img {
    margin-left: calc(50% - 102px / 2); // 102px = width of img
  }

  .left-img {
    height: 62px;
    margin-right: 12px;
  }

  a {
    color: $legacyBlue;
  }
}
