.highlight {
  border-top: 1px solid #ddd;
  padding: 2rem 0;
  text-align: left;

  h1, h2 {
    text-align: left;
    margin: 0 0 1rem;
  }

  h1 {
    color: #2272CE;
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: #4A4A4A;
  }
}

.highlight__link {
  cursor: pointer;
  display: block;

  &:hover h2 {
    text-decoration: underline;
  }

  &:hover h1 {
    text-decoration: underline
  }
}

.highlight__text {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  color: #000000;
  clear: both;
  margin: 0;
  font-size: 16px;
}

.highlight__image {
  box-sizing: border-box;
  float: right;

  img {
    width: 156px;
    height: 108px;
  }
}

.highlight__headings {
  float: left;
}