// styling for non-react static styles as ported from DatalabJS d3 viz

.fed-emp-bar-chart {
  path.domain {
    opacity: 0;
  }

  .tick line {
    opacity: 0;
  }

  #barChartKey {
    min-width: 280px;
    height: auto;
    width: 67%;
    margin-left: 10%;
  }
}

@media (max-width: 1000px) {
  #barChartToolbar {
    flex-direction: column !important;
    padding-left: 0;
  }
}