.visContainer {
  display: flex;
  justify-content: center;
  padding: 2vw;
  flex-direction: column;

  .visBarChart {
    width: 100%;
    height: auto;
  }
}

.visContainer > svg > g > rect:hover {
    fill: #D334BA;
}

.formItem {
  vertical-align: top;
  align-self: flex-start;
  margin: 0 26px 0 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  padding-left: 6%;
}

.selectTitle {
  text-align: center;
}
