.visContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;

  .visBarChart {
    width: 100%;
  }
}

.visContainer > svg > g > rect:hover {
    fill: #D334BA;
}

.formItem {
  vertical-align: top;
  align-self: flex-start;
  margin: 0 26px 0 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.selectTitle {
  text-align: center;
}

@media (max-width: 1000px) {
  #barChartToolbar {
    flex-direction: column !important;
  }
}