.visContainer {
  display: flex;
  justify-content: center;
  padding: 2vw;
  flex-direction: column;

  .visBarChart {
    width: 100%;
    height: auto;
  }
}

.visContainer > svg > g > rect:hover {
  fill: #d334ba;
}

.formItem {
  vertical-align: top;
  align-self: flex-start;
  margin: 0 26px 0 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  padding-left: 6%;
}

.selectTitle {
  text-align: center;
}

.legend {
  font-size: 1rem;

  .block {
    float: left;
    width: 18px;
    height: 18px;
    margin: 3px 10px;
    border: none;
  }

  .whiteCollar {
    background: #2fbab7;
  }
  .blueCollar {
    background: #2272ce;
  }
  .other {
    background: #5d6474;
  }
}

:global {
  .fed-emp-bar-chart {
    path.domain {
      opacity: 0;
    }

    .tick line {
      opacity: 0;
    }
  }

  @media (max-width: 1000px) {
    #barChartToolbar {
      flex-direction: column !important;
      padding-left: 0;
    }
  }
}
