@import "../../styles/variables.scss";

$grey: #888;
$darkGrey: #666666;

.analyses {
  text-align: left;
  margin-bottom: 1rem;
}

.heading {
  border-bottom: 1px solid $darkGrey;
  color: $grey;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.tiles {
  padding-top: 1rem;
}

.text {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  .title {
    font-size: 1rem;
    color: #2272ce;
    height: 2rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.25rem;
    height: 6rem;
    color: $font-body-copy;
    margin-bottom: 0;
    margin-top: 0;
  }

  &:hover {
    .title,
    .subtitle {
      text-decoration: underline;
    }
  }
}

.image {
  width: 100%;
}

@media (max-width: $tablet) {
  .tile:global(.MuiGrid-item) {
    margin-top: 1rem;
  }
}

@media (max-width: $phone - 1) {
  .tile {
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: 0;
    }

    .text {
      width: 50%;
      float: right;
      padding-left: 0.5rem;
      text-align: right;

      .title,
      .subtitle {
        font-size: 1rem;
      }
    }

    .image {
      width: 50%;
      float: left;
      margin-bottom: 1rem;
    }
  }
}
