@import '../../styles/variables.scss';

$darkGrey: #666666;

.more-analyses {
  text-align: left;

  .more-analyses__heading {
    font-size: 1.17em;
    color: $darkGrey;
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: left;
  }

  .more-analyses__tile {
    text-align: left;
  }

  .more-analyses__tile-text {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    h2 {
      color: #2272CE;
      height: 1rem;
      margin-bottom: 1rem;
      font-size: 18px;
    }
  }

  .more-analyses__tile-title {
    font-size: 20px;
    height: 4rem;
    color: $darkGrey;
    margin-bottom: 0;
    margin-top: 0;
  }

  .more-analyses__image {
    width: 100%;
  }
}

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .more-analyses__tile-text {
    text-align: right;
  }

  .more-analyses__tile {
    border-bottom: unset;
  }
}

@media (max-width: $tablet - 1) {
  .more-analyses__tile-text {
    text-align: right;
  }

  .more-analyses__heading {
    border-bottom: 1px solid $darkGrey;
  }
}
