@import "../../../styles/variables.scss";

.cu-link {
  color: $cuRed;

  &:hover {
    text-decoration: underline;
  }
}

#investment-overview {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;

  #investment-overview__number {
    color: #666666;
    font-family: "Source Sans Pro";
    font-size: 3rem;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  #investment-overview__title {
    color: #666666;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2.8px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  #investment-overview__preblurb {
    color: $cuRed;
    font-size: 2.625rem;
    line-height: 48px;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  #investment-overview__blurb {
    color: #555555;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

  // viz container
  #investment-overview__viz {
    box-sizing: border-box;

    #investment-chart {
      display: flex;
      width: 100%;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      text-align: center;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      text-align: center;
    }

    .map-search__list {
      display: none;
    }

    .map-search-ul--mobile {
      display: none;
    }

    .bubble-search__list {
      display: none;
    }

    .bubble-search__list--mobile {
      display: none;
    }

    #mobile-blurb {
      display: none;
      p.mobile-funding-granted {
        color: #555555;
        font-size: 0.875rem;
        line-height: 18px;
      }

      p.mobile-funding-blurb {
        width: 289px;
        color: #555555;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 18px;
      }
    }

    #title-section {
      width: 100%;
      display: flex;

      #chart-title-aid {
        color: #0a2f5a;
        display: inline-block;
        width: 66%;
        color: #555555;
        font-family: "Source Sans Pro";
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 18px;
        height: 25px;
      }

      #chart-title-grants {
        color: #004c40;
        display: inline-block;
        width: 27%;
        color: #555555;
        font-family: "Source Sans Pro";
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 18px;
        height: 25px;
      }

      #chart-title-contracts {
        color: #925003;
        display: inline-block;
        width: 6%;
        color: #555555;
        font-family: "Source Sans Pro";
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 18px;
        height: 25px;
      }
    } // end title section

    #studentAid--mobile-title {
      display: none;
      color: #666666;
      font-size: 0.8125rem;
      font-weight: bold;
      line-height: 17px;
      text-transform: uppercase;
    }

    #grants--mobile-title {
      display: none;
      color: #666666;
      font-size: 0.8125rem;
      font-weight: bold;
      line-height: 17px;
      text-transform: uppercase;
    }

    #contracts--mobile-title {
      display: none;
      color: #666666;
      font-size: 0.8125rem;
      font-weight: bold;
      line-height: 17px;
      text-transform: uppercase;
    }

    #bar-text {
      color: #fffefd;
      font-size: 1.75rem;
      line-height: 50px;
      margin: 0;
      padding-top: 0.5rem;
    }

    #bar-text--aid {
      color: #fffefd;
      font-size: 1.75rem;
      line-height: 50px;
      margin: 0;
      padding-left: 0.25rem;
      padding-top: 0.25rem;
    }

    #bar-text--contracts {
      color: #fffefd;
      font-size: 1.25rem;
      line-height: 50px;
      margin: 0;
      padding-top: 0.5rem;
      padding-left: 0.25rem;
    }

    #bar-text--grants {
      color: #fffefd;
      font-size: 1.75rem;
      line-height: 50px;
      margin: 0;
      padding-top: 0.5rem;
      padding-left: 0.15rem;
    }

    #investment-subtext {
      display: flex;
      justify-content: space-around;
      padding-top: 2rem;

      .aid-subsection {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 25%;
      }

      .aid-subsection:last-child {
        padding-right: 0;
        border-right: none;
      }

      #aid-heading-aid {
        margin: 0;
        padding-bottom: 1rem;
        height: 25px;
        color: #0a2f5a;
        font-family: "Source Sans Pro";
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
      }

      #aid-heading-grants {
        margin: 0;
        padding-bottom: 1rem;
        height: 25px;
        color: #004c40;
        font-family: "Source Sans Pro";
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
      }

      #aid-heading-contracts {
        margin: 0;
        padding-bottom: 1rem;
        height: 25px;
        color: #925003;
        font-family: "Source Sans Pro";
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
      }

      .aid-image {
        text-align: center;
      }

      #aid-description {
        color: #555555;
        font-size: 0.9375rem;
        font-weight: 300;
        line-height: 18px;
        //
      }
    }
  } // end of investment_viz
} // end of #investment-overview

@import "./investment-overview-mobile.scss";
