@import '../../../styles/variables';


.landing-row__heading {
  font-size: 1.17em;
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
  text-transform: uppercase;
}

.landing-row__tile {

  .svgImg {
    height: 62px;
    margin: 0 auto 1rem auto;
    display: block;
    width: 50%;
  }

  .landing-row__text {
    text-align: center;
    width: auto;
  }

  .landing-row__title {
    font-size: 24px;
    height: 1.5em;
  }

  p.landing-row__title {
    font-size: 2em;
    height: auto;
  }

  .landing-row__p {
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-bottom: 2rem;
  }

  &.landing-row__tile--primary {
    .landing-row__text {
      text-align: left;

      .landing-row__title {
        text-align: left;
      }
    }
  }
}


@media screen and (max-width: $desktop) {
  .landing-row__p {
    display: none;
  }

  .landing-row__title {
    text-align: center;
  }

  .landing-row__tile {
  }

  .landing-row__tile-row {
    padding-top: $margin;
    border-top: 1px solid #dddddd;
  }

}