@import "../../styles/index.scss";

.show {
  display: block;
}

.hidden {
  display: none;
}

.ReactVirtualized__Table__Grid {
  overflow: hidden !important;
  border-bottom: 1px solid #eeeeee;
}

.primary {
  text-decoration: underline;
}

.ReactVirtualized__Table {
  @include body-copy();
  padding: 1rem;
}

.ReactVirtualized__Table__row,
.ReactVirtualized__Table__headerRow {
  height: 4rem !important;
  border-bottom: 1px solid #eeeeee;
}

.ui.button {
  -webkit-appearance: unset;
  border: none;
}

.pagination {
  text-align: right;

  .item {
    padding: 5px 10px;
    margin-right: 5px;

    &:hover:not(.disabled) {
      background-color: #e1f3f8;
    }

    &.active {
      color: white;
      font-weight: 700;
      background-color: #005ea2;
    }

    &.disabled {
      opacity: .5;
      cursor: default;
    }
  }

  a:first-of-type,
  a:last-of-type {
    border: #ccc solid thin;
  }
}
