@import '../../../styles/variables';

.featured {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  overflow: hidden;
  min-height: 100%;
}

.heading {
  font-size: 24px;
  text-align: center;
  text-align: center;
}

.image {
  width: 100%;
}

.text {
  padding: 0 2.188rem;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.4px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

// TODO: Fix BEM
.heading-mobile, .text-mobile {
  display: none;
}

.image {
  padding-left: 0;
}

@media screen and (max-width: $desktop) {
  .text {
    padding-right: $margin-override;
  }

  .image {
    padding-left: $margin-override;
  }
}