@import '../../../../styles/variables';

#homelessnessPage {
  #tree > div > svg {
    height: 100%;
    width: 100%;
  }

  .cocTabTitleCluster {
    border-bottom: 1px solid #AAA;

    span {
      font-size: 2rem;
    }

    .cocTabTitleClusterLabel {
      font-weight: 600;
    }
  }

  .cell:hover{
    fill-opacity: .75;
    stroke-width:3;
    stroke:#FFF;
  }

  .cell.active, .cell:active{
    fill-opacity: .75;
    stroke-width:3;
    stroke:#FFF;
  }

  #cocTab {
    margin-bottom: 0.5rem;
  }

  .cocTabFund, .cocTabInfo {
    width: 33%;
    vertical-align: top;
    display: inline-block;

    .fundingTitle {
      font-size: 0.8rem;
      font-weight: 500;
    }
    .fundingAmount, .infoAmount {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .cocTabFund .fundingAmount {
    font-size: 2.5rem;
    font-weight: 300;
  }

  #tab_info {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #666;

    #showMoreLess {
      display: block;
      margin: 0 auto;
      padding: 0;
      border: none;
    }

    button {
      border: none;
      border-right: 1px solid #fff;
      background-color: transparent;
      margin: 5px 0 0 0;
      padding: 0 1rem;
      line-height: 0;
      cursor: pointer;

      .coc-show-less-more-buttons {
        text-align: center;
        border: 1px solid #000;
        border-radius: 1.5rem;
        background-color: #fff;
        color: #666;
        padding: 0.2rem 0.5rem 0.5rem 0.75rem;
        font-weight: 600;

        * {
          color: #666;
        }
      }

      div * {
        color: #F3F3F3;
      }

      &.active {
        background-color: #DDD;

        div * {
          font-weight: bold;
          text-decoration: underline;
          color: #525252;
        }
      }

      .less svg, .more svg {
        margin-bottom: -0.375rem;
      }
    }
    .cocButton:hover {
      background-color: #DDD;

      div * {
        color: #525252;
      }
    }
  }

  .flex-grid {
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .flex-grid-row,  .flex-grid-row-2 {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  .col-main-left {
    width: 57%;
  }

  .col-half {
    width: 46%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  .homeless-fact-cluster {
    padding-top: 1rem;
  }

  .homeless-fact-cluster .title, .homeless-fact-cluster .title span {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
  }

  .homeless-fact-cluster .subtitle {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 3rem;
    color: #666;
  }

  .homeless-fact-cluster .header {
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 0;
    color: #555;
  }

  .homeless-fact-cluster .desc {
    font-family: "Source Sans Pro";
    font-size: 1rem;
    clear: both;
    padding-top: 10px;
    margin-top: 0;
    color: #555;
  }

  .homeless-fact-cluster .highlight-text, .homeless-fact-cluster .highlight-text * {
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 3rem;
    color: #666;
  }

  .cluster-people .highlight-text {
    margin-bottom: 2rem;
  }

  .cluster-people .highlight-text.cluster-people-count {
    margin-top: 1rem;
    margin-bottom: -1rem;
  }

  .cluster-people .highlight-text.people-text {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .cluster-people .header, .cluster-density .header {
    min-height: 30px;
  }

  .homeless-fact-cluster img {
    width: 80%;
  }

  #cluster-circles img, .cluster-people img {
    width: 90% !important;
  }

  #cluster-beds #count-img-container {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #cluster-beds img {
    display: flex;
    width: 30% !important;
    padding-right: 5%;
  }

  #cluster-key {
    margin-top: 7rem;
  }

  #cluster-key .header {
    margin-bottom: 1rem;
  }

  .cluster-population {
    margin-top: 1.8rem;
  }

  .col-sub-left {
    display: none;
  }

  .lower-sub-left {
    display: flex;
  }

  @media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }

  /* Mobile */
  @media (max-width: 950px) {
    .lower-sub-left {
      display: flex;
    }

    .col-sub-left {
      display: none;
    }

    .flex-grid-row {
      flex-direction: column;
    }

    .col-main-left, .col-half {
      width: 100%;
    }

    #cluster-key {
      margin-top: 0;
    }
  }

  /* special query for beds */
  @media (min-width: 950px) and (max-width: 1024px) {
    #cluster-beds img {
      width: 20% !important;
    }
  }

  /* Tablet */
  @media (min-width: 950px) and (max-width: 1200px) {
    #cluster-key {
      margin-top: 0;
    }

    .col-main-left {
      width: 100%;
    }

    .col-right {
      width: 100%;
      width: 46%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .col-half {
      width: 100%;
    }

    .lower-sub-left {
      display: none;
    }

    .col-sub-left {
      display: flex;
      width: 46%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      flex-direction: column;
    }

    .flex-grid-row {
      flex-direction: column;
    }

    .flex-grid-row-2 {
      flex: 1;
      flex-direction: row;
      justify-content: space-evenly;
    }

    #cluster-beds img {
      padding-top: 20px;
    }

  }
}

@media (max-width: $tablet){
  #homelessnessPage {
    .cocTabFund {
      width: 99%;
    }

    .cocTabInfo {
      width: 49%;
    }
  }
}

@media (max-width: $phone) {
  #tab_info {
    button {
      line-height: 1 !important;
    }
  }
}
