$margin: 2%;
$reset: 0;
//$desktop-xl: 1200px; // 1136px flexboxgrid l
//$desktop: 992px;  // 976px / 1024 px? md
//$tablet: 768px; // 736 px / 768 px? sm
//$phone: 576px;  // 480 px ? xs

$desktop-xxl: 1450px;
$desktop-xl: 1200px;
$desktop: 1024px;
$tablet: 768px;
$phone: 480px;