@import "../../styles/index.scss";

$search-width: 200px;
$border-width: 3px;
$border-color: #eee;

.sidebar {
  position: absolute;
  left: 0;
  transition: left 0.5s ease-in-out;
  text-align: left;
  display: flex;

  .search-panel {
    width: $search-width;

    .select-menu {
      width: 100%;
    }
  }

  .panel-group {
    border: $border-width solid $border-color;
    border-radius: 0 15px 15px 0;

    .unselected {
      opacity: 0.3;
    }

    .selected {
      opacity: 1;
    }

    .divider {
      height: $border-width;
      color: $border-color;
    }
  }
}

.collapsed {
  left: -$search-width;
}

li.MuiListItem-root {
  display: block;
}

.list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #4a4a4a;
  text-decoration: none;
  padding: 0.5rem 0;

  .list-item-header {
    display: block;
    font-size: 0.8rem;
    color: #555;
    font-weight: 300;
    margin-bottom: 0.4rem;
  }
}
