@import "src/styles/index.scss";

$border-color: #eee;
$hover-background: #fbebd0;

.filter-input {
  background-color: $font-white;
}

.searchlist {
  font-size: 1rem;
  color: #4a4a4a;
  background-color: $font-white;
  cursor: pointer;
  border: 1px solid $border-color;

  .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 11px 2rem;

    &:hover {
      background-color: $hover-background;
    }
  }
}

.expanded {
  display: block;
  z-index: 1;
}
