@import '../../styles/index.scss';

$list-height: 400px;
$border-color: #eee;
$hover-background: #fbebd0;

.searchlist {
	display: none;
	max-height: $list-height;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid $border-color;

	.listItem {
		&:hover {
			background-color: $hover-background;
		}
	}
}

.expanded {
	display: block;
}
