@import '../../styles/index.scss';

$details-width: 350px;

@mixin tableRows {
	font-size: 0.9rem;
	color: #555;
	padding: 0.35rem 0;
}

.details {
	z-index: 99;
	position: absolute;
	width: $details-width;
	padding: 2rem;
	text-align: left;
	right: calc(-#{$details-width} - 4rem);

	&.MuiPaper-root {
		transition: right 0.5s ease-in-out;
	}
}

.expanded {
	right: 0;
}

.closeButton.MuiIconButton-root {
	position: absolute;
	top: 0;
	right: 0;
}

.label {
	color: #666666;
	font-size: 0.8rem;
	font-weight: 300;

	&.MuiGrid-item {
		margin: 0 0 0.3rem;
	}
}

.itemName {
	color: #666;
	font-size: 1.25rem;
	font-weight: 700;
}

.col1title {
	@include tableRows;
	padding: 2rem 0 0.35rem;
	font-weight: 700;
}

.col2title {
	@include tableRows;
	font-weight: 700;
	text-align: right;
}

table {
	@include tableRows;
	width: 100%;
	padding: 2rem 0 0.35rem;
	white-space: pre;
}

td {
	font-weight: 300;
	border-top: 1px solid #ddd;
}

th + th,
td + td {
	@include tableRows;
	text-align: right;
}
