@import '../../styles/index.scss';

$search-width: 350px;
$border-width: 3px;
$border-color: #eee;

.sidebar {
	height: 400px;
	position: absolute;
	text-align: left;
	display: flex;
	left: -$search-width;
	transition: left 0.5s ease-in-out;
	z-index: 10;

	.container {
		width: $search-width;
		background-color: #fff;
	}

	.panelGroup {
		background-color: #fff;
		border: $border-width solid $border-color;
		border-radius: 0 15px 15px 0;

		.unselected {
			opacity: 0.3;
		}

		.selected {
			opacity: 1;
		}

		.divider {
			height: $border-width;
			color: $border-color;
		}
	}
}

.expanded {
	left: 0;
}
