@import '../../styles/index.scss';

$details-width: 350px;

.details {
	position: absolute;
	width: $details-width;
	padding: 2rem;
	right: -$details-width;

	&.MuiPaper-root {
		transition: right 0.5s ease-in-out;
	}
}

.expanded {
	right: 0;
}

.closeButton.MuiIconButton-root {
	position: absolute;
	top: 0;
	right: 0;
}
