@import '../../styles/variables.scss';

.container {
    margin-bottom: $margin-25;
}

.accordion {
    transition: opacity 1s ease;

    ul {
        list-style-type: disc;
    }
}

.heading {
    padding: $margin-20;
    font-size: 1.125rem;
    text-align: left;
    border: 1px solid #eee;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    flex-wrap: nowrap;
}

.content {
    padding: 0 $margin-20;
    border: 1px solid transparent;
    border-top: none;
    line-height: 0;
    transition: all 0.5s ease;
    opacity: 0;
    text-align: left;

    p {
        margin-bottom: 0;
        margin-top: 0;
        transition: margin 0.5s ease;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.toggle {
    font-size: 1.125rem;
    background: transparent;
    border: none;
    float: right;
    width: 26px;
}

.plus {
    display: block;
}

.minus {
    display: none;
}

.open {
    .content {
        line-height: 1.2;
        padding-top: $margin-30;
        padding-bottom: $margin-30;
        border-color: #eee;
        opacity: 1;

        p + p {
            margin-top: $margin-25;
        }

        ul {
            padding-left: $margin-30;
            margin-top: $margin-15;
            margin-bottom: $margin-15;
        }

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    .plus {
        display: none;
    }

    .minus {
        display: block;
    }
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

@media screen and (min-width: $desktop){
    .container {
        margin-bottom: $margin-45;
    }
}
