$darkGrey: #666;

#footnotes, .footnote__number, .footnote__text {
  font-size: 16px !important;
  color: $darkGrey;
}

#footnotes {
  margin-bottom: 5rem;
}

.footnotes__header {
  margin-bottom: 0.5rem;
}